* {
	text-align: center;
}

body {
	/*background-image: url('https://images.rawpixel.com/image_1300/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA4L3Jhd3BpeGVsX29mZmljZV8xMV9vaWxfcGFzdGVsX2NyYXlvbl90ZXh0dXJlX2lsbHVzdHJhdGlvbl9vZl9lbl80ZTU2ZDIyMS1iNzc3LTQyNzctYTQ0Mi1lOTJkMTkxZWYyZDlfMS5qcGc.jpg');
	*/
	background-image: url('/Users/sahanasurapureddy/Downloads/pastel-pink-background-yw0ub.webp');
	height: 400px;
	width: 100%;
}

h1, h2, #wordTheme, #solveButton, #newGameButton, .listWord {
	font-style: normal;
	padding: 5px;	
}

h1, h2, #wordTheme, #solveButton, #newGameButton {
	
	border: 2px black solid;
	border-radius: 8px;	

} 

h1, h2, .cell, #wordTheme, #wordlist {
	text-transform: capitalize;
	border:2px rgb(106, 90, 205);
	/*background-color: rgb(208, 225, 230);*/
}

h1, h2 {
	margin: 10px auto 10px auto;
	display: table;
}

#wordTheme {
	border-radius: 8px;
	text-transform: capitalize;
}

#wordboard {
	margin: 15px 0 0 300px;
	border: 2px black solid;
	display: table;
	min-width: 120px;
	text-transform: capitalize;
	background-color: #fff;
}

.boardRow {
	display: table-row;
}

.cell {
	margin: 0 auto 0 0;
	border: none;
	display: table-cell;
	height: 2vw; 
    width: 2vw; 
    font-size: 1.0vw;
	padding: 0;
	outline: 0;
	background-color: #fff;
	cursor:pointer;
	-moz-user-select: none;
    -ms-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -webkit-touch-callout: none; 
}

.cell:hover {
	background-color: rgb(130, 151, 150);
}

.cell.selectable {
	background-color: rgb(191, 230, 230);
}

.cell.selected { 
	background-color: rgb(181, 204, 205);
}

.cell.found {
	background-color: rgb(177, 178, 229);
	border: 1px black solid;
	font-weight: bold;
}

#wordlist { 
	margin: 10px auto 0 auto;
	font-size: 1.0vw;
	display: table;
	min-width: 200px;
	text-align: center;
	text-transform: capitalize;
	float:right;
	position:fixed;
	top:30.0vw;
	right:25.0vw;
	transform: translateY(-50%);
	margin-right:4;
}

.listRow {
	display: table-row;
	text-transform: lowercase;
}

#listContainer {
    float: right;
	margin-right: 0px;
    margin-left: auto
	position:fixed;
}

.listWord {
    display: block; 
    text-align: center; /* Align text to the right */
    padding: 2px; /* Add padding as needed to adjust the spacing */
    background-color: #fff; /* Set the background color */
    border: 1px solid black; /* Optional: Add a background color to the container for better visibility */
	margin-right: 0px;
    margin-left: auto
	position:fixed;
}

#wordlist li {
    margin-bottom: 2px; /* Add margin between list items for spacing */
}

.listWord.found {
	color: rgb(97, 90, 140);
	text-decoration: line-through;
}

#solveButton, #newGameButton {
	background-color: rgb(208, 225, 230);
	margin: 2vw auto;
	display: block;
	outline: 0;
	border-radius: 8px;
	/*font-size: 18px;*/
	font-weight: bold;
	font-family: "Font2", serif;
	font-size: 1.0vw;
}